<ul class="row large-up-12" >
  <li class="column">
    <h1><%= @my_recipe.lable %></h1>
    <%= image_tag(@my_recipe.image, :alt => "recipe image") %>
    <p><%= link_to "Link to Original Recipe", @my_recipe.url  %></p>
    <p>Ingredients: <%= @my_recipe.ingredients %></p>
    <p>Diet: <%= @my_recipe.diet %></p>
    <p>Health: <%= @my_recipe.health  %></p>
  </li>

  <%= button_to 'New Search', root_path, method: :get %>
</ul>
